@using WebsiteHopDongVay.Models;
@model WebsiteHopDongVay.Models.HDV_GBNNG
@{
    ViewBag.Title = "Giấy báo nhận tiền gốc";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<HDV_GBNNG> list_nogoc = ViewData["ds_gbnng"] as List<HDV_GBNNG>;
}

<!-----------------------------------Thêm giấy báo nhận tiền gốc--------------------------------->
<div class="border">
    <h3 class="mx-3 mt-3">Giấy báo nhận nợ gốc</h3>
    <div class="add-new-form m-4">
        <!-- Button trigger modal -->
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop5">
                <i class="fa-solid fa-plus"></i>
            </button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop5"
             data-bs-backdrop="static"
             data-bs-keyboard="false"
             tabindex="-1"
             aria-labelledby="staticBackdropLabel5"
             aria-hidden="true">
            <div class="modal-dialog modal-xl">
                @using(Html.BeginForm("Index", "GiayBaoNhanTienGoc", FormMethod.Post))
            {
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel5">Thêm Giấy báo nhận tiền gốc</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="dashboard-content px-3 pt-4">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Giấy báo nhận nợ gốc số</span>
                                @Html.TextBoxFor(m => m.GBNNG_SO, new { @class = "form-control" })
                                <span class="input-group-text">Ngày</span>
                                @Html.TextBoxFor(m => m.GBNNG_NGAY, new { @class = "form-control", @type = "date" })
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Khế ước ghi nợ số</span>
                                @Html.TextBoxFor(m => m.KUGN_SO, new { @class = "form-control" })
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Loại ngoại tệ</span>
                                @Html.TextBoxFor(m => m.MSLNT, new { @class = "form-control" })
                                <span class="input-group-text">Tỷ giá</span>
                                @Html.TextBoxFor(m => m.TYGIA, new { @class = "form-control" })
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Tiền gốc</span>
                                @Html.TextBoxFor(m => m.TIENGOC, new { @class = "form-control", @type = "number"})
                                <span class="input-group-text">Tiền gốc (VND)</span>
                                @Html.TextBoxFor(m => m.TIENGOCND, new { @class = "form-control", @type = "number"})
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Lưu</button>

                        @*<div class="toast-container position-fixed bottom-0 end-0 p-3">
                            <div id="liveToast5" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                                <div class="toast-header">
                                    <strong class="me-auto">Giấy báo nhận tiền gốc</strong>
                                    <small>Hiện tại</small>
                                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                </div>
                                <div class="toast-body">
                                    Thêm thành công
                                </div>
                            </div>
                        </div>*@
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
                    </div>
                </div>
                @Html.HiddenFor(x => x.GBNNG_SO)
            }
            </div>
        </div>
    </div>
    <div class="row">
        @foreach (HDV_GBNNG i in list_nogoc)
        {
            <div class="card col-10 col-md-5 col-xl-3 col-xxl-2 m-3">
                <div class="card-body">
                    <h5 class="card-title">Giấy báo nhận tiền gốc</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Giấy báo số: @i.GBNNG_SO</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Ngày: @i.GBNNG_NGAY</h6>
                    @foreach (HDV_GBNNG j in list_nogoc)
                    {
                        <div class="d-flex justify-content-between">
                            @using (Html.BeginForm("View", "GiayBaoNhanTienGoc", FormMethod.Post))
                            {
                                <input type="hidden" name="giaybao_xem" value="@j.GBNNG_SO" />
                                <button class="btn text-info fw-bold card-link text-decoration-none">Xem</button>
                            }
                            @using (Html.BeginForm("Edit", "GiayBaoNhanTienGoc", FormMethod.Post))
                            {
                                <input type="hidden" name="giaybao_sua" value="@j.GBNNG_SO" />
                                <button type="button" class="btn text-warning fw-bold card-link text-decoration-none"
                                        data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop5">
                                    Sửa
                                </button>
                            }
                            @using (Html.BeginForm("Delete", "GiayBaoNhanTienGoc", FormMethod.Post))
                            {
                                <input type="hidden" name="giaybao_xoa" value="@j.GBNNG_SO" />
                                <button class="btn text-danger fw-bold card-link text-decoration-none" id="liveToastBtn5">Xóa</button>
                                <div class="toast-container position-fixed bottom-0 end-0 p-3">
                                    <div id="liveToast5" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                                        <div class="toast-header">
                                            <strong class="me-auto">Giấy báo nhận lãi vay</strong>
                                            <small>Hiện tại</small>
                                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                        </div>
                                        <div class="toast-body">
                                            Xóa thành công
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>