@using WebsiteHopDongVay.Models;
@model WebsiteHopDongVay.Models.HDV_KUGN1
@{
    ViewBag.Title = "Khế ước ghi nợ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<HDV_KUGN1> list_kugn1 = ViewData["ds_kugn"] as List<HDV_KUGN1>;
}

<!-----------------------------------Thêm khế ước ghi nợ--------------------------------->
<div class="border">
    <h3 class="mx-3 mt-3">Khế ước ghi nợ</h3>
    <div class="add-new-form m-4">
        <!-- Button trigger modal -->
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                <i class="fa-solid fa-plus"></i>
            </button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop2"
             data-bs-backdrop="static"
             data-bs-keyboard="false"
             tabindex="-1"
             aria-labelledby="staticBackdropLabel2"
             aria-hidden="true">
            <div class="modal-dialog modal-xl">
                @using (Html.BeginForm("Index", "KheUocGhiNo", FormMethod.Post))
                {
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel2">Thêm Khế ước ghi nợ</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="dashboard-content px-3 pt-4">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Khế ước số</span>
                                    @Html.TextBoxFor(m => m.KUGN_SO, new { @class = "form-control" })
                                    <span class="input-group-text">Ngày</span>
                                    @Html.TextBoxFor(m => m.KUGN_NGAY, new { @class = "form-control", @type = "date"})
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Theo hợp đồng số</span>
                                    @Html.TextBoxFor(m => m.HD_SO, new { @class = "form-control" })
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Loại ngoại tệ</span>
                                    @Html.TextBoxFor(m => m.MSLNT, new { @class = "form-control" })
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Tiền vay</span>
                                    @Html.TextBoxFor(m => m.TIENVAY, new { @class = "form-control", @type = "number" })
                                    <span class="input-group-text">Tiền vay (VND)</span>
                                    @Html.TextBoxFor(m => m.TIENVAYVND, new { @class = "form-control", @type = "number" })
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Tiền mặt</span>
                                    @Html.TextBoxFor(m => m.TIENMAT, new { @class = "form-control", @type = "number" })
                                    <span class="input-group-text">Chuyển khoản</span>
                                    @Html.TextBoxFor(m => m.CKHOAN, new { @class = "form-control", @type = "number" })
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Mục đích sử dụng</span>
                                    @Html.TextBoxFor(m => m.MDSD, new { @class = "form-control" })
                                    <span class="input-group-text">Chứng từ kèm theo</span>
                                    @Html.TextBoxFor(m => m.CTKT, new { @class = "form-control" })
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Thời hạn vay (tháng)</span>
                                    @Html.TextBoxFor(m => m.SOTHANGVAY, new { @class = "form-control", @type = "number" })
                                    <span class="input-group-text">Trả lãi vào các ngày hàng tháng</span>
                                    @Html.TextBoxFor(m => m.TLVCN, new { @class = "form-control", @type = "number" })
                                    <span class="input-group-text">Trả lãi theo tháng, quý, năm</span>
                                    @Html.TextBoxFor(m => m.TLVCN_TQN, new { @class = "form-control", @type = "number" })
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Lịch trả nợ gốc ngày cuối kỳ vay (ngắn hạn)</span>
                                    @Html.TextBoxFor(m => m.NTNGOC, new { @class = "form-control", @type = "date" })
                                    <span class="input-group-text">Lịch trả nợ gốc dài hạn (tháng, quý, năm)</span>
                                    @Html.TextBoxFor(m => m.TTNGOC, new { @class = "form-control", @type = "number" })
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Lãi suất</span>
                                    @Html.TextBoxFor(m => m.TL_LS, new { @class = "form-control" })
                                    <span class="input-group-text">Lãi suất vay (tháng, năm)</span>
                                    @Html.TextBoxFor(m => m.TL_LS_TQN, new { @class = "form-control" })
                                    <span class="input-group-text">% Lãi suất quá hạn</span>
                                    @Html.TextBoxFor(m => m.TL_LSGH, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Thêm</button>

                            @*<div class="toast-container position-fixed bottom-0 end-0 p-3">
                        <div id="liveToast2" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="toast-header">
                                <strong class="me-auto">Khế ước ghi nợ</strong>
                                <small>Hiện tại</small>
                                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                            </div>
                            <div class="toast-body">
                                Thêm thành công
                            </div>
                        </div>
                    </div>*@
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                    @Html.HiddenFor(x => x.KUGN_SO)
                }
            </div>
        </div>
    </div>
    <div class="row">
        @foreach (HDV_KUGN1 i in list_kugn1)
        {
            <div class="card col-10 col-md-5 col-xl-3 col-xxl-2 m-3">
                <div class="card-body">
                    <h5 class="card-title">Giấy nhận nợ</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Giấy nhận nợ số: @i.KUGN_SO</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Ngày: @i.KUGN_NGAY</h6>
                    @foreach (HDV_KUGN1 j in list_kugn1)
                    {
                        <div class="d-flex justify-content-between">
                            @*@using (Html.BeginForm("View", "KheUocGhiNo", FormMethod.Post))
                            {
                                <input type="hidden" name="giaybao_xem" value="@j.KUGN_SO" />
                                <button class="btn text-info fw-bold card-link text-decoration-none">Xem</button>
                            }*@
                            @using (Html.BeginForm("Edit", "KheUocGhiNo", FormMethod.Post))
                            {
                                <input type="hidden" name="giaybao_sua" value="@j.KUGN_SO" />
                                <button type="button" class="btn text-warning fw-bold card-link text-decoration-none"
                                        data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop2">
                                    Sửa
                                </button>
                            }
                            @using (Html.BeginForm("Delete", "KheUocGhiNo", FormMethod.Post))
                            {
                                <input type="hidden" name="giaybao_xoa" value="@j.KUGN_SO" />
                                <button class="btn text-danger fw-bold card-link text-decoration-none" id="liveToastBtn2">Xóa</button>
                                <div class="toast-container position-fixed bottom-0 end-0 p-3">
                                    <div id="liveToast2" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                                        <div class="toast-header">
                                            <strong class="me-auto">Giấy báo nhận lãi vay</strong>
                                            <small>Hiện tại</small>
                                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                        </div>
                                        <div class="toast-body">
                                            Xóa thành công
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>